<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HttpWarmpUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HttpWarmpUp.Properties.Settings>
            <setting name="WarnTimeTakenInSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeOutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>LABTERRA</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>ralarcon</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Terra.123</value>
            </setting>
        </HttpWarmpUp.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <switches>
      <add name="HttpWarmUpTraceSwitch" value="Off" />
      <add name="HttpWarmUpLogTraceSwitch" value="Warning" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="HttpWarmUp.log" />
        <add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="HttpWarmUp" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>